/* navbar */
.nav {
    min-height: 42px;
    background-color: #EF5122;
    /* Cho 2 thẻ ul nằm ngang nhau */
    display: flex;
    justify-content: space-between;
}

.nav-list {
    padding-left: 0px;
    margin: auto 16px;
}

.nav-item {
    color: #fff;
    /* Bỏ dấu chấm đầu dòng của ul */
    list-style: none;
    /* Tạo khoảng trống giữa các item cho đẹp */
    margin: 0px 8px;
    display: inline-block;
}

/* Form layout */
.form-container {
    max-width: 720px;
    padding: 32px;
    margin: 36px auto 0 auto;
    background-color: #fff;
}

.form_row {
    padding: 8px 0;
    display: flex;
}

.form_label {
    min-width: 90px;
}

.form_input {
    flex: 1;
}