body {
    background-color: #a1a59d;
}
/* navbar */
.nav {
    min-height: 42px;
    background-color: #EF5122;
    /* Cho 2 thẻ ul nằm ngang nhau */
    display: flex;
    justify-content: space-between;
}

.nav-list {
    padding-left: 0px;
    margin: auto 16px;
}

.nav-item {
    color: #fff;
    /* Bỏ dấu chấm đầu dòng của ul */
    list-style: none;
    /* Tạo khoảng trống giữa các item cho đẹp */
    margin: 0px 8px;
    display: inline-block;
}

/* Form layout */
.form-container {
    max-width: 720px;
    padding: 32px;
    margin: 36px auto 0 auto;
    background-color: #fff;
}

.form_row {
    padding: 8px 0;
    display: flex;
}

.form_label {
    min-width: 90px;
}

.form_input {
    flex: 1;
}

/* Column layout */

.column-layout {
    margin: 36px;
    padding: 12px 0;
    background-color: #fff;
    /* Căn ngang 3 div */
    display: flex;
}

.column-item {
    padding: 0 16px;
}

.sidebar-one {
    flex: 1;
    /* Dùng để sắp xếp thứ tự hiển thị */
    order: 2;
}

.sidebar-two {
    flex: 1;
    order: 3;
}

.main-column {
    /* Độ rộng gấp 3 lần 2 mục trên */
    flex: 3;
    order: 1;
}

/* Feature layout */

.feature-layout {
    margin-top: 36px;
    display: flex;
    justify-content: space-around;
    /* Để 3 Feature xếp chiều dọc cho điện thoại */
    flex-direction: column;
}

/* Khi màn hình lớn hơn 740px thì sẽ đổi chiều dọc thành ngang */
@media (min-width: 740px) {
    .feature-layout{
    flex-direction: row;
    }
}

.feature-item {
    padding: 12px 16px;
    margin-top: 16px;
    flex-basis: 30%;
}

.feature-item:nth-child(1) {
    background-color: rgb(90, 180, 16);
}

.feature-item:nth-child(2) {
    background-color:rgb(32, 113, 96);
}

.feature-item:nth-child(3) {
    background-color: rgb(172, 127, 255);
}

/* Wrap layout */
.wrap-layout {
    margin: 36px;
    padding: 12px 0 32px 0;
    background-color: #fff;
    display: flex;
    /* Tạo khoảng cách đều giữa các div */
    justify-content: space-around;
    /* Các div sẽ xuống dòng khi chiều ngang trình duyệt thu nhỏ */
    flex-wrap: wrap;
    /* Đảo ngược Cross start và Cross end nên các div sẽ lên dòng */
    flex-wrap: wrap-reverse;
}

.wrap-layout-item {
    width: 148px;
    height: 90px;
    color: #fff;
    text-align: center;
    line-height: 90px;
    font-size: 48px;
    font-weight: 700;
    margin-top: 20px;
    background-color: #EF5122;
}

.center-layout {
    background-color: rgb(94, 179, 139);
    margin: 36px auto 0 auto;
    max-width: 640px;
    height: 340px;
    display: flex;
}

.center-layout-item {
    font-size: 42px;
    font-weight: 700;
    margin: auto;
}

/* Chart layout */
.chart-layout {
    margin: 36px auto 0 auto;
    padding: 32px 0;
    height: 320px;
    background-color: #fff;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.chart-layout-item {
    width: 60px;
    color: #fff;
    text-align: center;
    height: var(--percent);
    background-color:#EF5122;
    /* Tạo hiệu ứng cho các cột xuất hiện bằng @keyframes bên dưới kết hợp dòng lệnh*/
    animation: growth ease-in 0.5s;
}

@keyframes growth {
    from {
        opacity: 0;
        height: 0%;
    }
    to {
        opacity: 1;
        height: var(--percent);
    }
}

/* End */
.the-end {
    margin: 12px auto 48px auto;
    padding: 32px 0;
    max-width: 740px;
    min-height: 360px;
    display: flex;
    /* Đảo div First sang phải và Second sang trái */
    flex-direction: row-reverse;
}

.the-end-first {
    padding: 4px 16px;
    background-color: #86af59;
    flex: 1;
}

.the-end-second {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.the-end-second-one {
    flex: 1;
    padding: 4px 16px;
    background-color: rgb(165, 182, 197);
}

.the-end-second-two {
    flex: 1;
    padding: 4px 16px;
    background-color: rgb(165, 197, 191);
}