body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Helvetica Nueu";
}

body > div {
    margin: auto;
}

/* Block */

.btn {
    display: inline-block;
    text-decoration: none;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    padding: 12px 48px;
    /* Viền công cho 3 nút */
    border-radius: 50px;
    /* Tạo thành nút bấm được */
    cursor: pointer;
    /* Làm hiệu ứng giảm màu chậm lại */
    transition: opacity 0.5s ease;
    /* Chiều ngang nhỏ nhất của các nút */
    min-width: 120px;
}

/* Dùng để chỉnh cho 2 btn phía sau btn đầu tiên */
.btn + .bnt {
    margin-left: 36px;
}

/* Khi đưa chuột vào sẽ giảm màu đi */
.btn:hover {
    opacity: 0.8;
}

.btn--success {
    background-color: #71be43;
}
.btn--warn {
    background-color: #ffb702;
}
.btn--danger {
    background-color: #ff623d;
}

/* Làm nút không bấm vào được */
.tbn--disabled {
    /* Giảm mờ màu hơn và !important để bỏ :hover ở trên*/
    opacity: 0.5 !important;
    /* Đưa con trỏ về mũi tên bình thường */
    cursor: default;
}

/* Tạo nút to hơn */
.btn--size-l {
    padding: 18px 56px;
}

/* Tạo nút nhỏ hơn */
.btn--size-s {
    padding: 6px 40px;
}