:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #EE4D2D;
    --border-color: #dbdbdb;
}

* {
    box-sizing: inherit; /* Kế thừa từ thẻ chứa nó */
}

html {
    /* Mặc định 100% là 16px => 1rem = 16px
    Nếu để 62.5% là 10px => 1rem = 10px => 12px = 1.2rem
    Cách để 62.5% để dễ dạng gọi px chẵn = cách gọi rem */
    font-size: 62.5%;
    line-height: 1.6rem; /* => 16px */
    font-family: 'Roboto', sans-serif ;
    box-sizing: border-box;
}

/* .roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" <width>;
} */

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex; /* Các thuộc tính nằm ngag */
    flex-wrap: wrap; /* Nếu độ lớn k đủ thì thuộc tính sẽ nhảy xuống */
}

/* Animation */
@keyframes faceIn {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.modal__body {
    background-color: var(--white-color);
    margin: auto;
    position: relative;
    z-index: 1;
    /* Do lớp overlay và body cùng cấp nên khi tạo xong body nằm dưới
        lớp overlay không điền nên mặc định z-index luôn nhỏ hơn 1
        khi cùng cấp ai có z-index cao hơn thì nằm trên */
}

/* Button style */
.btn {
    min-width: 142px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    cursor: pointer;
    outline: none;
    background-color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn.btn--normal:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.btn.btn--primary { /* Chỉ áp dụng khi có cả 2 class cùng lúc "btn btn--primary"*/
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn.btn--disable {/* Áp dụng cho các nút button không muốn cho nhấn vào */
    cursor: default;
    color: #949494;
    background-color: #c3c3c3;
}

.btn.btn--size--s {
    height: 32px;
    font-size: 12px;
    padding: 0 8px;
}